*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body{
  background-image: linear-gradient(120deg,#16ffc5,#00c2e4);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header{
  font-size: 1.5rem;
}

header,
form{
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button{
  margin: 0.2rem;
  position: relative;
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  color: #00a6ff;
  background: white;
  transition: all 0.5s ease;
}

form button{
  color: #00c2e4;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover{
  background: #60f4ff;
  color: white;
  transition: all 0.75s;
}

.todo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list{
  min-width: 30%;
  list-style: none;
  transition: all 0.5s ease;
}

.todo{
  margin: 0.5rem;
  background: white;
  color: #00a6ff;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.todo li{
  flex: 1;
}

.trash-btn,
.complete-btn{
  background: rgb(255, 82, 82);
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.5rem;
  font-size: 1rem;
}

.trash-btn:hover,
.complete-btn:hover{
  background: #60f4ff;
  color: white;
  transition: all 0.75s;
}

.complete-btn{
  background: #16ffc5;
}

.todo-item{
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check{
  pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;
}

.fall{
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

select{
  color: #00c2e4;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after{
  content: "\25BC";
  position: absolute;
  background: #00c2e4;
  top: 0;
  right: 0;
  padding: 0.75rem;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select:hover::after{
  background: white;
  color: #60f4ff;
  transition: all 0.3s;
}


